<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel='stylesheet' href='../stylesheets/regkupca.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<div class="container glavni">
    <div class="row">
        <div class="col-sm-6">

            <h1>Register kupca: </h1>
            <form class="form" method="post" action="/registerkup" enctype="multipart/form-data">
                <label>Email: </label>
                <input type="text" name="email" class="form-control">
                <br>
                <label>Sifra: </label>
                <input type="password" name="password" class="form-control">
                <br>
                <label>Ime: </label>
                <input type="text" name="ime" class="form-control">
                <br>
                <label>Prezime: </label>
                <input type="text" name="prezime" class="form-control">
                <br>

                <label>Koji su vaši interesi: </label>
                <p>Pritisnite CTRL i birajte</p>
                <br>
                <select class="selekt" name="zainteresovanost" multiple>
                    <% for(let i = 0;i < grupe.length;i++){ %>
                    <option id="<% grupe[i].id %>" value="<%= grupe[i].id %>"
                            name="zainteresovanost"><%= grupe[i].naziv %></option>
                    <% } %>
                </select>
                <br>
                <label>Profilna slika: </label>
                <br>
                <input type="file" name="sampleFile" accept="image/*">
                <br><br>

                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
        <div class="col-sm-6 desno">
            <img src="https://www.europarl.europa.eu/resources/library/images/20160609PHT31661/20160609PHT31661_original.jpg"
                 class="img-fluid">
        </div>

    </div>
</div>
</body>
</html>
