body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: darkslategray !important;
}

a {
    color: #00B7FF;
}

.btn {
    margin: 5px;
    font-family: 'Merienda';
}

.container {
    border-radius: 20px;
    margin: 10px;
    font-family: 'Dekko';;
}


.glavni {
    background-color: lightgray;
    padding: 10px;
    border: 1px solid;
    box-shadow: 5px 5px darkslategray;
}

h2 {
    font-size: 2rem !important;
    text-align: center;
}

.linija {
    width: 80%;
    border: 1px solid darkslategray;
}

img {
    width: 300px;
    height: 300px;
    margin-top: 40%;
    border: 2px solid black !important;
    border-radius: 50%;
}

.desno {
    text-align: center;

}

